.mainContainer {
    background-image: url("../../images/HomeBackground.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 3em;
    /* width: 100vw;
    height: 100vh;
    margin: 0; */
}

.whiteText{
    color: white;
}

.greenText{
    color: #28864c;
}

.greyText{
    color: rgb(221, 218, 218);
}

.signupContainer{
    /* background-color: red; */
    background-image: url("../../images/top2Background.jpg");
    background-size: cover;
    background-position: center;
    width: 30em;
    padding: 5em 3em 3em 3em;
    /* padding-left: 10em;
    padding-right: 10em; */
}
.input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: rgb(221, 218, 218);
    border-bottom: 1px solid rgb(221, 218, 218);

    ::placeholder{
        color: rgb(221, 218, 218);
    }
}

.submitBtn{
    width: 10em;
    background: linear-gradient(90deg, rgba(236,85,85,1) 0%, rgba(72,88,205,1) 80%);
    margin-bottom: 2em;
    margin-top: 2em;
}

/* styles.module.css */
.alertContainer {
    min-height: 60px; /* Adjust the height as needed */
    width: 100%; /* Optional: Adjust the width as needed */
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: center; /* This centers the text horizontally */
}
